<html>
<head>
    <title>Great Number Game</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    <title>Document</title>
    <link rel="stylesheet" type="text/css"href="{{ url_for('static', filename='style.css') }}"></head>
<body>
    <center>
        <h1>Welcome to the Great Number Game!</h1>
        <h2>I am thinking of a number between 1 and 100</h2>
        <h2>Take a guess!</h2>
            <h2>You have guessed {{session['visited']}} times out of {{guess_left}} times!</h2>
            <div>
                too high/low box
                <a class="reset_button" href="/replay"><button>Play again!</button></a>
            </div>
            <form action="/signup" method="post">
                <div>
                    <input type="number" name="guess">
                    <a href="/check"><button type="button" class="btn btn-dark">Submit</button></a>
                </div>
            </form>
            
    </center>
</body>
</html>